.header{
    background-image: url('../assets/home_image.png');
    margin: 0;
    background-size: cover;
    height: 100%;

}
.hero{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: large;
    padding-top: 5px;
}
.hero img{
    padding-left: 20px;
}
.navlink{
    display: flex;
    margin-left: auto;
    padding-right: 20px ;
}
.nav{
    text-decoration: none;
    margin-left: auto;
    color : white;
    padding: 20px;
}
.navbut{
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding:20px;
}
.navbut a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbut:hover{
    background-color: rgb(25, 191, 10);
    color: white;
    transition: 0.3s;
}
.nav:hover{
    color: rgb(73, 77, 73);
    transition: 0.3s;
}
.textcontent{
    color: white;
    text-align: center;
    padding-top: 170px;
}
.textcontent h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;
}
.textcontent p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
    font-weight: 600;
}
.but{
    padding: 20px;
    display: flex;
    justify-content: center;   
    gap: 10px;
}
.but1{
    padding: 10px 30px;
    background-color:rgb(68, 128, 97);
    font-weight: 700;
    border:none;
    border-radius: 2px;
    color: white;
    transition: transform 0.3s;
}
.but1:hover{
    background-color: rgb(3, 158, 3);
    transform: scale(1.1);
}
.but2{
   padding: 10px 20px;
   background-color:transparent ;
   border:1.5px solid white;
   border-radius: 2px;
   color: white;
   font-weight: 700;
   transition: transform 0.3s;
}
.but2:hover{
    background-color: rgb(3, 158, 3);
    transform: scale(1.1);
    color: white;
}