.header{
    background-image: url('../assets/home_image.png');
    margin: 0;
    height: 600px;
    background-image: cover;
    background-position: center;
}
.hero{
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.hero img{
    padding-left: 10px;
}
.navlink{
    display: flex;
    margin-left: auto;
    padding-right: 20px ;
}
.nav{
    text-decoration: none;
    margin-left: auto;
    color : white;
    padding: 20px;
}
.navlink .navbut{
    height: 5px;
    padding: 20px;
    margin-top: 5px;
    align-items: center;
}
.navbut{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.navbut:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.nav:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s;
    text-decoration: underline;
}
.textcontent{
    color: white;
    text-align: center;
    padding-top: 200px;
}