.research{
    display: flex;
    justify-content: space-between;
}
.research>img{
    width: 49%;
}
.research-content{
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    gap: 5px;
}
.research-card{
    width: 49%;
    height: 50%;
    box-shadow: 1px 1px 5px rgb(177, 177, 177);
    padding: 40px 30px;
    box-sizing: border-box;
    background-color: rgb(247, 247, 247);
}
#card{
    background-color: rgb(238, 238, 238);
}
.research-card >img{
    height: 30%;
}
.research-card >h3{
    color: rgb(68,127,98);
    font-style: oblique;
    font-weight: bolder;
}
.gallery{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}
.gallery h1{
    text-align: center;
    color: rgb(68,127,98);
}
.gallery-content{
    display: flex;
    flex-direction: row;
}
.gallery-left{
    width: 40%;
}
.gallery-right{
    width: 59%;
    display: flex;
    flex-wrap: wrap;
    
}
.gallery-right img{
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    background-position: center;
    background-size: cover;
}